# Any and all cell expression table and large datasets
*.gz

# Reference transcriptomes in FASTA format
*.fas
General_guide

# .json config files
*.json

# scratch files
scratch*

#files that I'm finished working with but still may have useful code in them
scrnaseq_parser.py